*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
}

.navigator{
    top:0px;
    position: fixed;
    background-color: black;
    height: 56px;
    width: 100%;
}

.navigator .navigator-list{
    margin-left: 24px;
}

.navigator .navigator-list li{
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;  
        
}
.navigator .navigator-list li a{
    padding: 15px;
    list-style-type: none;
    font-size: 23px;
    color: white;
    background-color: black;
    text-decoration: none;
    line-height: 56px;
}

.navigator .navigator-list li a:hover{
   color: black;
   background-color: #ccc;
}

.project-nav{
    display: none;
   
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0;
    
}
.project-nav li{
    display: block;
    width: 100%;
    background-color: black;
}

.project-nav li a{
    
    width: 100%;
}

.project-nav li:hover{
    background-color:#ccc ;
    color: black;
}

.navigator-list li:hover >ul{
    display: block;
}

.content{
    padding: 0 42px;
    margin-top: 182px;
    text-align: center;
    font-size: 24px;
}

.description{
    margin-top: 52px;
}