*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
    
}

.navigator{
    top:0px;
    position: fixed;
    background-color: black;
    height: 56px;
    width: 100%;
}
.navigator .navigator-list{
    margin-left: 24px;
}
.navigator .navigator-list li{
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;
   
    
}
.navigator .navigator-list li a{
    padding: 15px;
    list-style-type: none;
    font-size: 23px;
    color: white;
    background-color: black;
    text-decoration: none;
    line-height: 56px;
}

   

.navigator .navigator-list li a:hover{
   color: black;
   background-color: #ccc;
}
.project-nav{
    list-style-type: none;
}
.project-nav li{
    display: block;
}
.content{
    padding-right: 42px;
    padding-left: 42px;
    margin-top: 182px;
    text-align: center;
    font-size: 24px;
}
.description{
    margin-top: 52px;
}